# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment variables
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Jupyter Notebooks
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Testing / Coverage
# -----------------------------
.coverage
htmlcov/
.pytest_cache/

# -----------------------------
# LangSmith traces (if local)
# -----------------------------
.langsmith/
.env
project/deep_cognitive_agent/.env
cognitive-engine-for-deep-research/deep_cognitive_agent/.env

project/deep_cognitive_agent/outputs/